@using WebUI.ViewModels.Project.Create
@model CreateProjectViewModel

<div class="modal-header">
    <h5 class="modal-title">Create Project</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form asp-controller="Projects" asp-action="AddProject" method="post" id="add-project-form" >
        <!-- Project name -->
        <div class="mt-3">
            <label asp-for="Project.Name" class="form-label"></label>
            <input type="text" asp-for="Project.Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Project.Name" class="px-1 text-danger"></span>
        </div>
        <!-- Department -->
        <div class="mt-3">
            <div class="row align-items-center">
                <label for="add-project-form_department" class="mb-2 mb-sm-0 col-12 col-sm-5">Department</label>
                <select asp-for="Project.DepartmentId" asp-items="Model.DepartmentSelectList" data-width="auto" data-live-search="true" class="selectpicker col-sm-7">
                       <option selected value="">Department</option>
                </select>               
            </div>           
            <span asp-validation-for="Project.DepartmentId" class="px-1 text-danger"></span>
        </div>
        <!-- Responsible user -->
        <div class="mt-3">
            <div class="row align-items-center">
                <label for="add-project-form_responsible-user" class="mb-2 mb-sm-0 col-12 col-sm-5">Responsible user</label>
                <select asp-for="Project.ResponsibleUserId" asp-items="Model.UserSelectList" data-live-search="true" class="selectpicker col-sm-7">
                     <option value="">Responsible User</option>
                </select>          
            </div>
            <span asp-validation-for="Project.ResponsibleUserId" class="px-1 text-danger"></span>
        </div>
        <!-- Responsible user italia -->
        <div class="mt-3">
            <div class="row align-items-center">
               <label for="add-project-form_responsible-user-it" class="mb-2 mb-sm-0 col-12 col-sm-5">Responsible user italia</label>
               <select asp-for="Project.ForeignResponsibleUserId" asp-items="Model.UserSelectList" data-live-search="true" class="selectpicker col-sm-7">
                    <option selected value="">Responsible Foreign User</option>
               </select>   
           </div>
           <span asp-validation-for="Project.ForeignResponsibleUserId" class="px-1 text-danger"></span>
        </div>
        <h5 class="mt-3 text-center">Sources</h5>
        <div id="add-project-form_project-sources-container" class="mt-3"></div>
        <div class="mt-3 row">
            <div class="col text-center">
                <div>
                    <button type="button" id="add-project-form_add-project-source-btn" class="btn btn-primary text-center me-1">Add Project Source</button>
                    <button type="button" id="add-project-form_remove-project-source-btn" class="btn btn-danger text-center" disabled>Remove Project Source</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button id="submit_form" type="button" class="btn btn-dark">Submit</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
<script>
    var projectSourceTypes = @Html.Raw(Json.Serialize(@Model.ProjectSourceTypeSelectList));
    var projectSourceIndex = 0; 

    $(document).ready(function () {   
        App.refreshValidationForFormWithSelector("#add-project-form");
        addProjectSourceEntryToForm();
        $('.selectpicker').selectpicker();
    })

    $("#submit_form").click(function () {
        $("#add-project-form").submit();
    });

    $("#add-project-form").submit(function (event) {
        event.preventDefault();
        $(this).validate({ debug: true })
        if($(this).valid()) {
            serializeAddProjectForm();
        }        
    });

    $("#add-project-form_add-project-source-btn").click(function () {
        addProjectSourceEntryToForm();
        if (projectSourceIndex > 1) {
            $("#add-project-form_remove-project-source-btn").removeAttr('disabled');
        } else {
            $("#add-project-form_remove-project-source-btn").attr('disabled', 'disabled');
        }
    });

    $("#add-project-form_remove-project-source-btn").click(function () {
        if (projectSourceIndex < 2) { return; }
        projectSourceIndex--;
        $("#add-project-form_project-src-container-" + projectSourceIndex).remove();       
        if (projectSourceIndex < 2) { $("#add-project-form_remove-project-source-btn").attr('disabled', 'disabled'); }
    });


    function addProjectSourceEntryToForm() {
        var html = "";

        var projectSourceValidationMessage = "At least one project source should be provided.";
        var projectSourceTypeValidationMessage = "Project source type is required.";
        if (projectSourceIndex > 0) {
            projectSourceValidationMessage = "Project source is required.";          
        }

        html += '<div id="add-project-form_project-src-container-' + projectSourceIndex + '" class="mb-3 mt-3">'
        html += '   <label for="add-project-form_project-src-' + projectSourceIndex + '" class="form-label">Project Source ' + (projectSourceIndex+1) + '</label>'
        html += '   <div class="row">'
        html += '   <div class="col-12 col-sm-8">'
        html += '   <input type="text" data-val="true" data-val-required="'+projectSourceValidationMessage+'" class="form-control" id="add-project-form_project-src-' + projectSourceIndex + '" placeholder="URL" name="Project.ProjectSources[' + projectSourceIndex + '].SourceUrl">'
        html += '   <div class="px-1"><span class="text-danger" data-valmsg-for="Project.ProjectSources[' + projectSourceIndex + '].SourceUrl" data-valmsg-replace="true"></span></div>'
        html += '   </div>'
        html += '       <div class="col-12 col-sm-4 mt-2 mt-sm-0">'
        html += '           <select id="add-project-form_project-src-type-' + projectSourceIndex + '" data-val="true" data-val-required="'+projectSourceTypeValidationMessage+'"  name="Project.ProjectSources[' + projectSourceIndex + '].Type" class="selectpicker col-12">'
        html += '               <option selected value="">Type</option>'
        projectSourceTypes.forEach((projectSourceType) => {
            html += '           <option value="' + projectSourceType.value + '">' + projectSourceType.text + '</option>'
        });
        html += '           </select>'
        html += '           <div class="px-1"><span class="text-danger" data-valmsg-for="Project.ProjectSources[' + projectSourceIndex + '].Type" data-valmsg-replace="true"></span></div>'
        html += '       </div>'
        html += '   </div>'       
        html += '</div>'

        $("#add-project-form_project-sources-container").append(html);

        projectSourceIndex++;
        App.refreshValidationForFormWithSelector("#add-project-form");
        $('.selectpicker').selectpicker();
    }

    function serializeAddProjectForm() {     
        var formData = $("#add-project-form").serializeArray();
        addProjectSubmitData(formData);
    }

    function addProjectSubmitData(data) {       
        $.ajax({
            type: "POST",
            url: "/projects/add",
            data: data
        }).done(function(data) {
            if (!data || !data.succeded) { return; } 
            let projectName = (data.payload && data.payload.name) ? data.payload.name : "";
            App.flushContentModal();
            App.toaster.showSingle(ToastType.success, "Project <b>"+projectName+"</b> added with success.");            
            var projectsTable = $('#projects_table').DataTable();
            projectsTable.ajax.reload();
        });
    }
</script>