@model Application.Users.Commands.Create.CreateUserCommand
@section Styles {
    <link href="@Url.Content("~/src/css/loginPage.css")" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                Sing In
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form asp-controller="Accounts" asp-action="Register" method="post" asp-antiforgery="true">
                        <div class="form-group">
                            <label asp-for="UserName" class="form-control-label"></label>
                            <input type="text" asp-for="UserName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="form-control-label"></label>
                            <input type="text" asp-for="Password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label asp-for="RepeatPassword" class="form-control-label"></label>
                            <input type="text" asp-for="RepeatPassword" class="form-control">
                        </div>

                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-12 login-btm login-button">
                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                            </div>
                            <div class="col-lg-12 login-btm login-text">
                                @if (@ViewBag.ErrorMessage != null)
                                {
                                    <span style="color: red">@ViewBag.ErrorMessage</span>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>