<div class="modal-header">
    <h5 class="modal-title">Project Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">

    <form action="/projects/addProject" method="post" id="add-project_form">

    </form>  
    <div class="mb-3 mt-3">
        <label for="project-name" class="form-label">Project Name:</label>
        <input type="tel" class="form-control" id="project-name" placeholder="Name:" name="project-name">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-check mb-3">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>    
</div>
<div class="modal-footer">
    <button id="submit_form" type="button" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
<script>
    $("#submit_form").click(function () {
        $("#add-project_form").submit();
    });
</script>