@model WebUI.ViewModels.ProjectsListViewModel
@section scripts 
{ 
    <script>
        $(".project_row").click(function () {
            let projectId = $(".project_row input[name='projectId']").val();

            console.log(projectId);

        });
       
    </script>
}

<div class="container">
    <h2 class="text-star">Projects</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Project name</td>
                <td>Department</td>
                <td>Cedacri International responsible user</td>
                <td>Cedacri Italia responsible user</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model.Projects)
            {
                <tr class="project_row">
                    <td style="display: none;"><input name="projectId" type="hidden" value="@project.ProjectId"/></td>
                    <td>@project.Name</td>
                    <td>@project.Department.Name</td>
                    <td>@project.ResponsibleUser.Name</td>
                    <td>-</td>
                </tr>
            }
        </tbody>
    </table>
</div>
