@model WebUI.ViewModels.ProjectsListViewModel

<div class="container">
    <h2 class="text-star">Projects</h2>
    <table id="projects_table" class="table table-hover">
        <thead>
            <tr>
                <th>Project name</th>
                <th>Department</th>
                <th>Cedacri International responsible user</th>
                <th>Cedacri Italia responsible user</th>
            </tr>
        </thead>
        <tbody>          
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
          var projectsTable = $('#projects_table').DataTable(
                {
                    ajax: {
                        url: "/Projects/JsonList",
                        dataSrc: "payload.projects",
                    },
                    columns:
                        [
                            { data: "name" },
                            { data: "department.name" },
                            { data: "responsibleUser.name" },
                            { data: "responsibleUser.name" }
                        ]
                }              
            );

            $('#projects_table tbody').on('click', 'tr', function () {         
                debugger;
                var data = projectsTable.row(this).data();
                let projectId = data.projectId;
                if (projectId != null && projectId != "")
                {
                    $.get("/projects/projectDetailViewModal", { id: projectId }, function (data, status, xhr) {
                        console.log(data);
                    });
                }

              

                
            });

        });       

        /*
        $("#projects_table").on("click", ".project_row", function () {
            let projectId = $(this).find(".project_id").val()
            console.log(projectId);
        })
        */
    </script>
}