@using WebUI.ViewModels.User.Create
@model CreateUserViewModel

<div class="modal-header">
    <h5 class="modal-title">Create user @Model.User.Name</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form asp-controller="Users" asp-action="Create" method="post" id="create-user_form" >
        <!-- User name -->
        <div class="mt-3">
            <label asp-for="User.Name" class="form-label"></label>
            <input type="text" asp-for="User.Name" class="form-control" placeholder="Name">
            <span asp-validation-for="User.Name" class="px-1 text-danger"></span>
        </div> 
        <!-- Password -->
        <div class="mt-3">
            <label asp-for="User.Password" class="form-label"></label>
            <input type="text" asp-for="User.Password" class="form-control" placeholder="Password">
            <span asp-validation-for="User.Password" class="px-1 text-danger"></span>
        </div>
        <!-- Role -->
        <div class="mt-3">
            <div class="row">
                <label asp-for="User.RoleId" class="form-label col-12">Role</label>
                <div class="col-12 mt-2">
                    <select asp-for="User.RoleId" asp-items="Model.UserRolesSelectList" class="selectpicker col-12">
                        <option selected value="">Role</option>
                    </select> 
                </div>                 
            </div>                         
            <span asp-validation-for="User.RoleId" class="px-1 text-danger"></span>
        </div>             
    </form>
</div>
<div class="modal-footer">
    <button id="submit_form" type="button" class="btn btn-dark">Submit</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>

<script>
    $(document).ready(function() {
        App.refreshValidationForFormWithSelector("#create-user_form");
        $("#submit_form").click(function () {
            $("#create-user_form").submit();
        });
        $("#create-user_form").submit(function (event) {
            event.preventDefault();
            $(this).validate()
            if($(this).valid()) {
                var formData = $(this).serializeArray();
                $.ajax({
                    type: "POST",
                    url: "/users/create",
                    data: formData
                }).done(function(data) {
                    if (!data || !data.succeded) { return; } 
                    let userName = (data.payload && data.payload.name) ? data.payload.name : "";
                    App.flushContentModal();
                    App.toaster.showSingle(ToastType.success, "Project <b>"+userName+"</b> created with success.");  
                    var projectsTable = $('#users_table').DataTable();
                    projectsTable.ajax.reload();
                });
            }        
        });
        $('.selectpicker').selectpicker();
    });
</script>