<div id="global-success-alert" class="alert-container-fixed" style="display: none">
    <div class="container" style="padding: 5px;">
        <div style="margin: 0 auto;" class="alert alert-success alert-dismissible fade show shadow" role="alert">
            <strong>Success!</strong> <span id="global-success-alert-message">You should check in on some of those fields below.</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>

<div id="global-error-alert" class="alert-container-fixed" style="display:none;">
    <div class="container" style="padding: 5px;">
        <div style="margin: 0 auto;" class="alert alert-danger alert-dismissible fade show shadow" role="alert">
            <span id="global-error-alert-message">You should check in on some of those fields below.</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>