<div class="toast-container position-absolute top-0 start-50 translate-middle-x">
    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true" id="error-toast">
        <div class="d-flex">
            <div class="toast-body text-danger" id="error-toast-body">
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>