<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/src/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.3/b-2.1.0/sl-1.3.3/datatables.min.css"/>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    @RenderSection("Styles", false)
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    PM Tool
                </a>
                <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></div>
                <div id="user_session" class="text-end">
                    <a asp-controller="Accounts" asp-action="SingIn" class="btn btn-outline-light me-2">Login</a>
                    <a asp-controller="Accounts" asp-action="Register" class="btn btn-warning">SingUp</a>
                </div>
            </div>
        </div>
    </header>
    <div class="mt-4" style="position:relative;">
        @RenderBody()
         <partial name="~/Views/Partial/Common/_ToastContainer.cshtml" />
    </div>

    <partial name="~/Views/Partial/Common/_ContentModal.cshtml" />
    <partial name="~/Views/Partial/Common/_ErrorModal.cshtml" />
    <partial name="~/Views/Partial/Common/_AlertContainer.cshtml" />

    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>  
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/sl-1.3.3/datatables.min.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
    <script src="~/src/js/main.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
